@font-face {
  font-family: logoFont;
  src: url("/src/media/fonts/RobotoMono-ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: mainHeaderFont;
  src: url("/src/media/fonts/RobotoMono-Regular.ttf") format("opentype");
}

@font-face {
  font-family: subHeaderFont;
  src: url("/src/media/fonts/RobotoMono-Italic.ttf") format("opentype");
}

.renovations {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: logoFont, helvetica, arial;
  font-weight: 600;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(0, 0, 0, 0.457)), color-stop(60%, rgba(0, 0, 0, 0.457)), to(#04619f68));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.457) 50%, rgba(0, 0, 0, 0.457) 60%, #04619f68 100%);
}

.renovations .inovations-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.renovations .inovations-info h4 {
  padding-top: 14vh;
  color: white;
  height: 0;
}

.renovations .inovations-info h3 {
  width: 60%;
  text-align: center;
  color: white;
}

.renovations .inovations-info button {
  margin-top: 20px;
  margin-bottom: 100px;
  background: none;
  color: white;
  border: 1px solid white;
  height: 60px;
  width: 200px;
}

.renovations .inovations-info button:hover {
  color: white;
  border: 2px solid white;
}

.renovations .inovations-info button a {
  color: #d1cbcb;
  text-decoration: none;
}

.renovations .inovations-video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: transparent;
}

.renovations .inovations-video .player-wrapper {
  margin-bottom: 10%;
  position: relative;
  height: 65vh;
  width: 90%;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
  color: white;
  background: #000;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 1rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color);
          box-shadow: 0 0 1rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color);
}

.renovations .inovations-video .player-wrapper .thumb {
  height: 102%;
  width: 102%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}

.renovations .inovations-video .react-player {
  position: absolute;
  height: 65vh;
  width: 90%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.renovations .inovations-video .react-player__preview {
  opacity: 1;
}

.renovations .inovations-video .react-player__preview:hover {
  opacity: 1;
}

.renovations .inovations-video .play-wrapper {
  height: 100px;
  width: 100px;
  color: white;
  border-radius: 50%;
  border: 6px solid white;
  -webkit-filter: drop-shadow(0 0 2rem #2557a1);
          filter: drop-shadow(0 0 2rem #2557a1);
  -webkit-box-shadow: 0 0 1rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 0rem var(--neon-border-color);
          box-shadow: 0 0 1rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 0rem var(--neon-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.renovations .inovations-video .play-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
  border: 6px solid white;
}

.renovations .inovations-video .play-icon {
  font-size: 50px;
  text-shadow: -0.2rem -0.2rem 1rem #2557a1, 0.2rem 0.2rem 1rem #2557a1, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
  margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
  .renovations .inovations-video {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .renovations .inovations-video .player-wrapper {
    height: 50vh;
  }
}

@media only screen and (max-width: 1000px) {
  .renovations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .renovations .inovations-info {
    width: 100%;
    height: 30vh;
  }
  .renovations .inovations-video {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70vh;
  }
  .renovations .inovations-video .player-wrapper {
    height: 50vh;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .renovations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .renovations .inovations-info {
    width: 100%;
    height: 40vh;
  }
  .renovations .inovations-info h3 {
    width: 80%;
  }
  .renovations .inovations-info button {
    padding: 20px;
  }
  .renovations .inovations-video {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 60vh;
  }
  .renovations .inovations-video .player-wrapper {
    height: 40vh;
    width: 80%;
  }
}
/*# sourceMappingURL=renovations.css.map */